/* design em css*/
        /* centraliza a imagem*/
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }